.list-page{
    margin-top: 3%;
    width: 87%;
    height: 150px;
    text-align: left;
 margin-left: 7%;
    
}

@media (max-width:700px) {
   
    .list-page h1{
        width: 100%;
        text-align: center;
    }
    .list-page h5{
        text-align: center;
    }
}